<div class="App">
  <div class="App-header">
    <h1>MetaCoin</h1>
    <img src={{logo}} class="App-logo" alt="logo" />
    <h2>Example Dapp built with Angular 2 + Sass + Webpack</h2>
  </div>
  <div class="App-intro">
    <h3>You have <span class="black"><span id="balance">{{metacoin_balance}}</span> META</span></h3>

    <h1>Send MetaCoin</h1>
    <form [formGroup]="form_SendMetaCoin" (ngSubmit)="sendCoin()" novalidate>
      <br><label>Amount:<input formControlName="amount" placeholder="e.g., 95"></label>
      <br><label>To Address:<input formControlName="recipient" placeholder="e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"></label>
      <br><br /><button type="submit">Send MetaCoin</button>
      <br><br /><span id="status">{{status_message}}</span>
      <br><span class="hint"><strong>Hint:</strong> open the browser developer console to view any errors and warnings.</span>
    </form>
  </div>
</div>
